html {
    width: 1440px;
    margin: 0 auto 0;
    font-family: 'Kumbh Sans', sans-serif;
}

body {
    padding: 0 100px 0;
}

.container--header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 4vh 0;
    border-bottom: hsl(220, 14%, 75%);;
    border-style: solid;
    border-bottom-width: 1px;
    margin-bottom: 20px;
}

.logo--nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3vw;
}

ul li, ul li a {
    list-style: none;
    display: inline-block;
    text-decoration: none;
    color: hsl(219, 9%, 45%);
    margin: 0 1vw 0 0;
}

.cart--img {
    position: relative;
    display: flex;
    align-items: center;
    gap: 3vw;
}

.image--avatar {
    width: 42px;
}


.cart--notification { 
    text-decoration: none;
    position: relative;
}

.badge {
    position: absolute;
    top: -16px;
    right: -10px;
    padding: 0px 8px;
    border-radius: 40%;
    color: white;
    background: orange;
}


.cart--empty {
    display: none;
}

.cart--empty--active {
    display: block;
    width: 306px;
    align-items: center;
    flex-direction: column;
    padding: 25px;
    text-align: center;
    color: hsl(219, 9%, 45%);
}

.cart--box {
    display: none;
}

.cart--box--active {
    display: block;
    position: absolute;
    right: -45px;
    top: 60px;
    width: max-content;
    box-shadow: 0px 10px 24px -7px grey;
    background: hsl(0, 0%, 100%)
}

.cart--title {
    border-bottom: hsl(220, 14%, 75%);
    border-style: solid;
    border-bottom-width: 1px;
    padding: 25px;
    font-weight: 700;
}

.container {
    display: none;
}

.container--active {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 25px;
    gap: 20px;
}

.cart--itens {
    display: flex;
    align-items: center;
    gap: 15px;
}

.cart--thumbnail {
    width: 50px;
    border-radius: 5px;
}

.description--cart {
    color: hsl(219, 9%, 45%);
}

.description--cart p {
    display: inline-block;
    margin-top: 10px;
}

.delete {
    cursor: pointer;
}

.cart--total {
    font-weight: 700;
    margin-left: 8px;
}

.checkout {
    width: 100%;
    color: white;
    font-weight: 700;
    background: hsl(26, 100%, 55%);
    border-radius: 10px;
    border-style: none;
    padding: 20px 0;
    cursor: pointer;
}

.container--main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;

}

.light--box {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 3vw;
    width: 75%;
}

.image--box img, .thumbnail img {
    width: 100%;
    border-radius: 14px;
}

.thumbnail {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 25px;
    cursor: pointer;
}

.item-description {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 3vw;
}

.company {
    margin: 0 0 30px;
    color: orange;
    font-weight: 700;
    font-size: 14px; 
    letter-spacing: 1px;   
}

.title {
    font-weight: 700;
    font-size: 50px;
    margin: 0 0 30px;
}

.description, .previus--price {
   color: hsl(219, 9%, 45%);
   line-height: 26px;
   font-size: 17px;
}

.previus--price {
    text-decoration: line-through;
    font-weight: 700;
    color: hsl(220, 14%, 75%);
}


.unit--price, .price--drop {
    display: inline-block;
}

.unit--price {
    font-size: 28px;
    font-weight: 700;
    margin-right: 20px;
}

.price--drop {
    vertical-align: 4px;
    background: hsl(25, 100%, 94%);
    padding: 1% 2%;
    color: orange;
    font-weight: 700;
}


.quantidity--product {
    display: flex;
    gap: 20px;
}

label {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
    border-radius: 10px;
    background: hsl(223, 64%, 98%);

}

.icon--minus, .icon--plus {
    padding: 18px;
    cursor: pointer;
}

#quantidity {
    font-weight: 700;
}

.add--to--cart {
    width: 75%;
    color: white;
    font-weight: 700;
    background: hsl(26, 100%, 55%);
    border-radius: 10px;
    border-style: none;
    cursor: pointer;
}

.add--to--cart img {
    filter: brightness(3.0);
    margin: 0 20px 0 0;
    vertical-align: initial;
    width: 5%;
}
@media screen and (min-width: 601px) {
    .icon--menu{
        display: none;
    }

    .nav--list--mobile {
        display: none;
    }

}

@media screen and (max-width: 600px) {

    html {
        width: unset;
    }

    body {
        padding: unset;
    }

    .icon--menu {
        display: block;
    }

    .container--header {
        border-style: unset;
        margin-bottom: unset;
        padding: 20px 6vw 30px;
    }

    .logo--nav {
        align-items: flex-end;
    }

    .nav--list--desktop {
        display: none;
    }

    .nav--list--mobile {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: fixed;
        gap: 35px;
        height: 100vh;
        width: 100vw;
        top: 0px;
        left: -1000px;
        background: linear-gradient(to right, white 66% ,rgb(20 20 20 / 76%) 30%);
        padding: 26px 0 0 24px;
        z-index: 20;
    }

    .nav--list--mobile--active {
        left: 0;
        transition: 500ms;
    }

    ul li, ul li a {
        display: block;
        color: black;
        font-weight: 700;
        margin-bottom: 25px;
    }

    .image--avatar {
        width: 24px;
    }

    .cart--box--active {
        right: -4vw;
        width: 96vw;
        top: 65px;
        border-radius: 8px;
    }

    .cart--empty--active {
        width: unset;
    }

    .container--active {
        align-items: unset;
    }

    .cart--itens {
        justify-content: space-between;
    }

    .container--main {
        grid-template-columns: 1fr;
    }

    .light--box {
        position: relative;
        padding: unset;
        width: 100%;
    }

    .image--box img{
        border-radius: unset;
    }

    .arrows {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 90%;
        padding: 0 5%;
        top: 45%;
    }

    .arrows img {
        width: unset;
        padding: 11px 14px;
        background: white;
        border-radius: 100%;
    }

    .thumbnail {
        display: none;
    }

    .item-description {
        padding: 2vh 6vw 10vh;
    }

    .title {
        font-size: 30px;
    }

    .price {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .previus--price {
        text-align: end;
    }

    .quantidity--product {
        flex-direction: column;
    }

    label {
        width: 100%;
    }

    .add--to--cart {
        width: 100%;
        padding: 18px 0;
    }
    
}
