html {
    padding: 10% ;
}

.container--header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo--nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul li, ul li a {
    list-style: none;
    display: inline-block;
    text-decoration: none;
    color: black;
}

.container--main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 300px;
    background: gray;
}

.light--box {
    background: orange;
}

.image--box img {
    width: 100%;
}

.thumbnail {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.item-description {
    background: green;
}

